*{
    box-sizing: border-box;
}
body{
    background-color: #222;
    margin-top:5%;
    margin-left: 30%;
}

#calcInterface{
    background-color: black;
    width: 400px;
    height: 650px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: 'Roboto', sans-serif;
    grid-gap: 0px;
    padding-top:100px;
    align-items: center;
}
.total{
    text-align: right;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;

}
section> div{
    font-size: 2rem;
    background-color: black;
    margin-top:0px;
    border-style: none;
    border-radius: 70%;
    padding: 15px;
    color: #fff;
    text-align: center;
    margin-left:10px;
}

.g1{
    background-color: rgba(51,51,51,255); 
    transition: background-color .2s ease;
}
div:nth-child(1) {
    grid-column-start:1;
    grid-column-end: 5;
    }
#zero{
    grid-area: 6/1/6/1;
    grid-column-start:1;
    grid-column-end:3; 
    text-align:left;
    border-radius:50px;
     padding-left:27px;
     margin-right:10px;
     height: 70px;
}

#decimal{
    grid-area: 6/3/6/3;
}   
#one{
    grid-area: 5/1/5/1;
}
#two{
    grid-area: 5/2/5/2;
}
#three{
    grid-area: 5/3/5/3;
}
#four{
    grid-area:4/1/4/1;
}
#five{
    grid-area: 4/2/4/2;
}
#six{
    grid-area: 4/3/4/3;
}
#minus{
    grid-area: 4/4/4/4;
}
#seven{
    grid-area: 3/1/3/1;
}
#eight{
    grid-area: 3/2/3/2;

}

#nine{
    grid-area: 3/3/3/3;
    
}
#clear, #plusMi, #percent, #divide, #multiply, #plus , #minus, #equal, #decimal, #one,#two, #three, #four, #five, #six, #seven, #eight, #nine{
    width: 75px;
    height: 70px;

}

#calcInterface > :nth-child(13) , #calcInterface > :nth-child(14), #calcInterface > :nth-child(15){
    background-color: rgb(182, 182, 182);

}
#calcInterface > :nth-child(16), #calcInterface >  :nth-child(17), #calcInterface >  :nth-child(18), #calcInterface >  :nth-child(19),#calcInterface >  :nth-child(20){
    background-color: orange;
}